.form-divider {
  width: 50%;
}
.pd-btn {
  text-align: left;
  background-color: #167d7f;
  color: #ffffff;
  border: 1px solid #fae8e0;
  font-size: 16px;
  padding: 7px 15px;
}
.pd-btn:hover {
  background-color: #ef7c8e;
  color: #ffffff;
  border: 1px solid #fae8e0;
}
#book-added {
  margin-left: 10px;
  color: green;
  font-size: 16px;
  font-weight: 400;
  display: none;
}
#loading {
  display: none;
  color: #167d7f;
  margin-left: -30px;
}
.img-upload {
  display: inline;
}
