.sign-btn {
  background-color: #3578e7;
  color: white;
  display: flex;
  align-items: center;
  font-size: 14px;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
  border: none;
  max-width: 300px;
  width: 100%;
  margin: 20px auto;
  padding-left: 1px;
}
.g-logo-holder {
  background-color: white;
  padding: 5px;
}
.g-logo-holder img {
  width: 30px;
}
.sign-text {
  margin: auto;
}
